.container--itemDetail {
	width: 50%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	margin: 20px;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.itemDetail--title {
	margin: 20px;
	text-align: center;
	
}
.itemDetail--img {
	width: 50%;
	height:100%;
}
.itemDetail--price {
	width: 100%;
	text-align: center;
	font-weight: bold;
}
.itemDetail--stock {
	width: 100%;
	text-align: center;
	margin: 10px 0px;
	font-weight: bold;
}
.itemDetail--description {
	width: 100%;
	text-align: center;
	margin: 15px 0px;
}
