

.card {
	background: #c8caf0;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	width: 18.75rem;
	height: 1.5rem;
	margin:15px;
	padding: 30px 10px;
	position: relative;
	border-radius: 6px;
	justify-content: center;
	align-items: center;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	font-size: 1.5em;
	color: white;
	cursor: default;
	font-family: cursive;
}

.card::before {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: -1;
	top: -1%;
	left: -2%;
	animation: spin 2.5s linear infinite;
}

.card::after {
	position: absolute;
	content: "";
	left: 0;
	right: 0;
	z-index: -1;
	height: 100%;
	width: 100%;
	margin: 0 auto;
	transform: scale(0.8);
	transition: opacity 0.5s;
	animation: spin 2.5s linear infinite;
}

@keyframes spin {
	0% {
		--rotate: 0deg;
	}
	100% {
		--rotate: 360deg;
	}
}

.card--title {
	font-family:sans-serif;
	width: 100%;
	height: 50px;
	font-size: 18px;
}
.card--img {
	width: 70%;
	height: 180px;
}
.card--price {
	font-family:'Times New Roman', Times, serif;
	font-weight: bold;
	color: #030303;
}

.card--more {
	font-family:'Times New Roman', Times, serif;
	letter-spacing: 2px;
	text-decoration: none;
	color: rgb(0, 0, 0);
	padding:40px;
}
.card--more:hover{
	color: rgba(106, 87, 182, 0.884);
}
